/*aqua: #34D1D1
dark purple: #2F2235
lighter purple: #3F3244
light gray: #F2F2F2
middle gray: #D1D2D3
dark gray: #666666
black #000000*/

body {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #3F3244;
  color: #F2F2F2;
  width: 100%;
}

header h1 {
  text-transform: uppercase;
  padding-left: 10px;
  font-weight: 300;
  font-size: 20px;
}

header .header-party {
  color: #34D1D1;
}

header h3 {
  padding-right: 10px;
  font-weight: 600;
  font-size: 15px;
}


/*ACCORDION TABS*/
.section-header {
  display: flex;
  align-items: center;
  margin: 20px 40px;
}

.accordian-section-header {
  overflow: visible;
  width: 30%;
}

.section-header hr {
  width: 100%;
  border-top: 1px solid #D1D2D3;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.accordian-tabs-ul {
  margin: 0 auto;
  width: 80%;
  padding-top: 3%;
  line-height: 1.5;
}

.accordian-tabs-ul li {
  list-style: none;
  display: inline;
}

.accordian-tabs-ul li a {
  display: inline-block;
  margin-right: -4px;
  background-color: #F2F2F2;
  border-top: 1px solid #F2F2F2;
  border-right: 1px solid #F2F2F2;
  padding: 10px;
  color: #666666;
  text-decoration: none;
  width: 25%;
}

.accordian-tabs-ul li a:hover, .accordian-tabs-ul li a.active {
  background-color: #FFF;
  font-weight: 600;
  color: #000;
  border-top: 1px solid #D1D2D3;
  border-left: 1px solid #D1D2D3;
  border-right: 1px solid #D1D2D3;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.accordian-tabs-ul .tab-information {
  display: none;
  background-color: #FFF;
  padding: 15px;
  width: 100%;
  float: left;
}

.accordian-tabs-ul .is-open {
  border: 1px solid #D1D2D3;
  margin-bottom: 30px;
}

li img {
  float: left;
  height: 200px;
  margin-right: 15px;
}

li .tab-line {
  border-top: 1px solid #D1D2D3;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.open-tab {
  padding-right: 10px;
}

.tab-paragraph {
  overflow-wrap: break-word;
  line-height: 130%;
}

.tab-paragraph-header {
  font-weight: 600;
  padding: 5px;
}

.view-code-button {
  display: block;
  height: 40px;
  width: 20%;
  margin: 30px auto;
  border: none;
  background-color: #3F3244;
}

.view-code-link {
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
}

.view-code-link:hover {
  color: #34D1D1;
}


/*MEDIA QUERIES*/
@media (max-width: 400px) {
  header {
    flex-direction: column;
    justify-content: center;
    height: 80px;
  }

  header h1 {
    padding-left: 0px;
    padding-bottom: 20px;
    font-size: 20px;
  }

  header h3 {
    padding-right: 0px;
    font-size: 12px;
  }

  .view-code-button {
    width: 80%;
  }
}


@media (max-width: 600px) {
  .section-header {
    flex-direction: column;
    align-content: center;
  }

  .accordian-tabs-ul .is-open {
    border-top: 2px solid #D1D2D3;
  }

  .accordian-section-header {
    width: auto;
    padding-bottom: 5px;
  }

  .section-header hr {
    width: 25%;
  }

  .accordian-tabs-ul li a {
    width: 100%;
    margin-bottom: 1px;
  }

  .accordian-tabs-ul .tab-information {
    position: inherit;
    display: none;
    float: left;
    padding-right: 5px;
    margin-bottom: 0px;
  }

  li img {
    float: none;
    margin: auto;
    display: block;
    height: 250px;
  }
}
